<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sunnyvale.mybatis.Guestbook">

	<select id="selectList" resultMap="GuestbookMap">
	SELECT seq, name, content, regdate FROM guestbook ORDER BY seq DESC
	</select>
	
	<resultMap type="Guestbook" id="GuestbookMap">
		<result column="seq" property="seq"/>
		<result column="name" property="name"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<collection property="images" column="seq" javaType="java.util.ArrayList" 
			ofType="Image" select="getImageByGuestbookSeq"/>
	</resultMap>
	
	<select id="getImageByGuestbookSeq" resultMap="imageMap" parameterType="int">
		select seq, guestbook_seq, file_name, save_file_name, real_path, file_length, content_type, regdate
		from images where guestbook_seq =  #{parameterName}
	</select>

	<resultMap type="Image" id="imageMap">
		<result column="seq" property="seq"/>
		<result column="guestbook_seq" property="guestbookSeq"/>
		<result column="file_name" property="fileName"/>
		<result column="save_file_name" property="saveFileName"/>
		<result column="real_path" property="realPath"/>
		<result column="file_length" property="fileLength"/>
		<result column="content_type" property="contentType"/>
		<result column="regdate" property="regdate"/>
	</resultMap>
		
	<select id="selectCount" resultType="int">
		SELECT count(*) FROM guestbook
	</select>
	
	<insert id="insertGuestbook" parameterType="Guestbook">
		<selectKey keyProperty="seq" resultType="int"  order="BEFORE">
		select guestbook_seq.NEXTVAL from dual
		</selectKey>
		INSERT INTO guestbook (seq, name,  content, regdate)
		VALUES
		(${seq}, #{name}, #{content}, sysdate)
	</insert>
	
	<insert id="insertImage" parameterType="Image">
		<selectKey keyProperty="seq" resultType="int"  order="BEFORE">
		select images_seq.NEXTVAL from dual
		</selectKey>
		INSERT INTO images (seq,guestbook_seq,file_name,save_file_name,real_path,file_length,content_type,regdate)
		VALUES
		(#{seq}, #{guestbookSeq}, #{fileName}, #{saveFileName}, #{realPath}, #{fileLength}, #{contentType}, sysdate)
	</insert>	
	
	<select id="selectImage" resultMap="imageMap" parameterType="int">
	select seq, guestbook_seq, file_name, save_file_name, real_path, file_length, content_type, regdate
		from images where seq =  #{parameterName}
	</select>

	<select id="selectImageList" resultMap="imageMap" parameterType="int">
	select seq, guestbook_seq, file_name, save_file_name, real_path, file_length, content_type, regdate
		from images where guestbook_seq =  #{parameterName}
	</select>	
 </mapper>