<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<!-- spring security -->
		<typeAlias type="kr.co.sunnyvale.security.SecurityUserDTO" alias="SecurityUser" />
		
		<!-- business -->
		<typeAlias type="kr.co.sunnyvale.guestbook.dto.GuestbookDTO" alias="Guestbook" />
		<typeAlias type="kr.co.sunnyvale.user.dto.UserDTO" alias="User" />
		<typeAlias type="kr.co.sunnyvale.guestbook.dto.ImageDTO" alias="Image" />
	</typeAliases>

	<mappers>
		<!-- spring security -->
		<mapper resource="kr/co/sunnyvale/mybatis/SecurityUserMapper.xml" />
		
		<!-- business -->		
		<mapper resource="kr/co/sunnyvale/mybatis/GuestbookMapper.xml" />
		<mapper resource="kr/co/sunnyvale/mybatis/UserMapper.xml" />		
	</mappers>

</configuration>