<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sunnyvale.mybatis.SecurityUser">

	<select id="getUser" parameterType="String" resultMap="userMap">
		SELECT user_id, user_passwd , user_name, admin_flag, regdate FROM guestbook_user where user_id = #{parameterName}
	</select>
	
	<resultMap type="SecurityUser" id="userMap">
		<result column="user_id" property="id"/>
		<result column="user_passwd" property="passwd"/>
		<result column="regdate" property="regdate"/>
		<result column="admin_flag" property="admin"/>
		<result column="user_name" property="name"/>
	</resultMap>
 </mapper>